<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
        <!-- androidx.test.core's InstrumentationActivityInvoker activities
             inherit from a lib that targets API < 31 and doesn't declare
             android:exported. Android 12+ requires it. Force-inject it here. -->
        <activity
            android:name="androidx.test.core.app.InstrumentationActivityInvoker$BootstrapActivity"
            android:exported="true"
            tools:replace="android:exported" />
        <activity
            android:name="androidx.test.core.app.InstrumentationActivityInvoker$EmptyActivity"
            android:exported="true"
            tools:replace="android:exported" />
        <activity
            android:name="androidx.test.core.app.InstrumentationActivityInvoker$EmptyFloatingActivity"
            android:exported="true"
            tools:replace="android:exported" />
    </application>
</manifest>
